<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12 test">
        <h1 class="post-pass">{{msg}}</h1>
        <div class = "container">
        <h2>ConcertTicket App!</h2>
         <a href="/venue"><button id="btn-buyticket" class="btn btn-primary">Buy It</button></a>
         <a href="/seller-form"><button id="btn-sellticket" class="btn btn-primary">Sell It</button></a>
         <a href="/seller-form"><button id="btn-sellticket" class="btn btn-primary">My Listings</button></a>
        </div>
              
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/form.js"></script>
