<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
            <h1>Users name Ticket Listing</h1>
            <p><strong>Section Number</strong>: {{SectionNumber}}</p>
            <p><strong>Row Number</strong>: {{RowNumber}}</p>
            <a><p><strong>Price</strong>: ${{Price}}</p></a>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>


