
.jumbotron-first{
    background-image:url(./concert.jpeg);
    background-size:cover;
    height:980px;
    margin:0px;
    text-align: center;
   }


.display-4{
    
    color: black;
    font-weight: 300;
    font-size: 200px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-top: 17%;
    letter-spacing: .4rem;
    line-height: 90%
}

.lead{
    color:snow;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif, bold;
    text-align: center;
    text-shadow: 2px 2px black;
    margin-bottom: 0%;
}

h4{
    
    margin-top: 10%;
    text-align: center;
    color:snow;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif, bold;
}

.btn-lg {
    
    border:black solid .2rem;
    color:white;
    border-radius: 10px;
    background-color:black;
    color:white;
    padding: 13px;
    margin: 10px;
}

.btn:hover {
    background-color: white;
    border: white solid .2rem;
    color:black;
}

.btn-lg:active {
  background-color: black;
  border:black solid .2rem;
  color:white;
}

a:active{
    background-color: white;

}

/* @media screen and (min-width: 1200px) {
    h1.display-4 {
      font-size: 300px;
    }
  }
@media screen and (min-width: 992px) {
    h1.display-4 {
      font-size: 250px;
    }
  }
@media screen and (min-width: 768px) {
    h1.display-4 {
      font-size: 200px;
    }
  }
  
  @media screen and (max-width: 600px) {
   h1.display-4{
      font-size: 150px;
    }
  } */

  @media screen and (min-width: 992px) {
    h1.display-4 {
      font-size: 250px;
    }
  }
  @media screen and (min-width: 768px) {
    h1.display-4 {
      font-size: 190px;
    }
  }
  
  @media screen and (max-width: 600px) {
    h1.display-4{
      font-size: 100px;
    }
}
