.navbar {

  background-color: transparent;
  border-bottom: solid;
  border-color: white;

}

.txt-white{

  color: white; 
  font-display: bold;

}

a.hov:hover {
  color:  snow;
  font-size: larger;
  line-height:18pt;
}

.list-group-item {
  line-height: 2.5;

}

h1,h2 {
  font-family: 'Bebas Neue', cursive;
  font-family: 'Open Sans', sans-serif;
}

.post-pass {
  color:snow;

  font-size: 250px;
  /* letter-spacing: 0.1cm; */
  float: left;
  text-shadow: 2px 3px black
}

.container{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.form-container {
  margin-top: 2%;
}

.jumbotron{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.card {
  margin-bottom: 5%;
}

#form-info {
  opacity: 0;

}

.display-2 {
  font-family: 'Bebas Neue', cursive; 
  color:black;
  line-height: 90%;
}

.btn-lg{
  border:black solid .1rem;
    color:white;
    border-radius: 10px;
    background-color:black;
    color:white;
    padding: 13px;
    margin: 10px;
}

.btn-lg:hover{
    background-color: white;
    border:black solid .2rem;
    color:black;
}

.display-3{
  font-family: 'Bebas Neue', cursive; 
}

ul.listing {
  list-style-type: none;
}

.home-anchor {
  padding-left: 10px;
  border-left: black solid 1px;
}

.try-again-anchor {
  padding-right: 8px;
}

body {
  background-image: url('concert.jpeg');
  position: sticky;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.top-row, .middle-row, .bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.section {
  flex-basis: 200px;
  background-color: whitesmoke;
  display: flex;
  flex-flow: wrap column;
  position: relative;
}

.section-front {
  position: absolute;
  opacity: 0.5;
  background-color: whitesmoke;
  z-index: 2;
  display: flex;
  align-items: center;
}

.section, .section-front {
  height: 200px;
  width: 200px;
}

.stage {
  height: 250px;
  flex-basis: 250px;
  background-color: black;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.seat {
  margin: 1px;
  border: black 0.25px solid;
  height: 2.8%;
}

.seat.available {
  background-color: rgb(28, 235, 28);
  cursor: pointer;
}

.seat.available:hover {
  border: black solid 0.05px;
  transform: scale(2.5);
}

.section-row {
  margin: 1px 0.75px;
  height: 100%;
  filter: blur(3px);
}

.section-row.unblur {
  filter: blur(0px);
}

.stage h3, .section h3  {
  margin: auto;
  text-align: center;
}

.stage p.top {
  margin-top: 1.5rem;
}

.stage p {
  margin: 0;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

p.purchase {
  color: rgb(7, 255, 7);
}

p.modal-subheader {
  font-weight: bold;
  font-size: 1.25rem;
}

.stage button {
  width: 50%;
  margin: 0 auto;
}

.north {
  transform: rotate(270deg);
}

.west, .west .section-front {
  transform: rotate(180deg);
}

.south {
  transform: rotate(90deg);
}

.north .section-front {
  transform: rotate(90deg);
}

.south .section-front {
  transform: rotate(270deg);
}

.btn-outline-danger {
  border-radius: 0.5rem;
  padding: 0.5rem 1.1rem;
  font-weight: bold;
}

