.list-group-item {
  line-height: 2.5;
}
h1,h2 {
  font-family: 'Bebas Neue', cursive;
}

.post-pass {
  color:snow;

  font-size: 250px;
  /* letter-spacing: 0.1cm; */
  float: left;
  text-shadow: 2px 3px black
}

.container{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.form-container {
  margin-top: 2%;
}

.jumbotron{
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.card {
  margin-bottom: 5%;
}

#form-info {
  opacity: 0;
}
.btn-sellticket {
  margin: 70px;
}

ul.listing {
  list-style-type: none;
}

.home-anchor {
  padding-right: 8px;
}

.try-again-anchor {
  padding-left: 10px;
  border-left: black solid 1px;
}

body {
  background-image: url('concert.jpeg');
  background-size: 80%;
  position: sticky;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.top-row, .middle-row, .bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.section {
  height: 200px;
  flex-basis: 200px;
  background-color: whitesmoke;
  display: flex;
  flex-flow: wrap column;
  position: relative;
}

.stage {
  height: 250px;
  flex-basis: 250px;
  background-color: black;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.seat {
  margin: 1px;
  border: black 0.25px solid;
  height: 2.8%;
}

.seat.available {
  background-color: rgb(28, 235, 28);
  cursor: pointer;
}

.seat.available:hover {
  transform: scale(1.5);
}

.section-row {
  margin: 1px 0.75px;
  display: none;
  height: 100%;
}

.section h3, .stage h3 {
  margin: auto;
  text-align: center;
}

.stage p.top {
  margin-top: 1.5rem;
}

.stage p {
  margin: 0;
  margin-bottom: 0.75rem;
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

p.purchase {
  color: rgb(7, 255, 7);
}

p.modal-purchase {
  font-weight: bold;
  font-size: 1.25rem;
}

.stage button {
  width: 50%;
  margin: 0 auto;
}

.north {
  transform: rotate(270deg);
}

.west, .west h3 {
  transform: rotate(180deg);
}

.south {
  transform: rotate(90deg);
}

.north h3 {
  transform: rotate(90deg);
}

.south h3 {
  transform: rotate(270deg);
}

.test {
  display: block;
}